@import "tailwindcss";

:root {
  --black: #0D121C;
  --gray: #F3F3F3;
  --gray-2: #8A919D;
  --green-500: #16A34A;
  --green-50: #F0FDF4;
  --bg-accent: #F4F6F8;

  --danger: #C62626;
  --warning: #dda012;
}

html,
body {
  min-height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.login-container {
  background:
    linear-gradient(
      180deg,
      #f8fffa 0%,
      #f0fdf4 40%,
      #dcfce7 100%
    );
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}