@import "tailwindcss";

:root {
  --black: #0D121C;
  --gray: #F3F3F3;
  --green-500: #16A34A;
  --green-50: #F0FDF4;
}

html,
body {
  min-height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.login-container {
  background:
    linear-gradient(
      180deg,
      #f8fffa 0%,
      #f0fdf4 40%,
      #dcfce7 100%
    );
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}